<!DOCTYPE html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Features</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    {% include 'header.html' %}

    <section class=" made-with container-fluid">
        <h2>Features</h2>
    </section>
    <div class='text container-fluid'>
        <h6>
            Introducing the ultimate image color analysis tool - our app makes it easy to extract the most common colors from any image with just a few clicks! With our app, you can upload any image and enter the number of colors you want to extract. The submitted
            form will then return the image with a table displaying the most popular colors in the image. Our powerful algorithms are able to analyze any image and extract the most dominant colors with precision, making it perfect for graphic designers,
            web developers, and anyone who needs to quickly and easily identify color schemes. Whether you're working on a design project or just want to know the dominant colors in your favorite image, our app makes it easy to get the information you
            need. So why wait? Try our app today and see for yourself how easy it is to extract the most popular colors from any image!
        </h6>
    </div>
    {% include 'footer.html'%}
</body>

</html>