<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="home">
        {% include 'header.html' %}
        <section class="made-with container-fluid">
            <h3>Created by Eleazar</h3>
        </section>

        <section class="main container-fluid">
            {% if image %}
            <img src="{{image}}" alt=""> {% endif %}
            <section class="form">
                <form method="POST" action="/" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div>
                        {{form.file.label}} {{ form.file }}
                    </div>
                    <div>
                        {{form.color_count.label}} {{ form.color_count}}
                    </div>
                    <div>
                        {{form.submit}}
                    </div>
                </form>
            </section>
            {% if colors %}
            <table>
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>HEX Code</th>
                        <th>Color</th>
                    </tr>
                </thead>

                {% for index, color in colors %}
                <tbody>
                    <tr>
                        <td>{{index+1}}</td>
                        <td>{{color}}</td>
                        <td style="background-color: {{color}}"></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </section>
    </div>
</body>

</html>